@*@model ShoppingCart.Models.Domain.Products;*@

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <h1> Shopping Cart!!!</h1>
    <div> 
        @Model
        @*@foreach (var item in Model)
        {
        <h3> @item.Id</h3>
        <h3> @item.Name</h3>
        <h3> @item.Quantity</h3>
        <h3> @item.Price </h3>
        }*@
        
    </div>
</body>
</html>
