

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <h1> Shopping Cart!!!</h1>
    <div>

        Write  http:// ***/Products  or click here @Html.ActionLink("New link", "Products","Product");
        

    </div>
</body>
</html>
