

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <h1> Shopping Cart!!!</h1>
    <div> 
       
        Добро пожаловать в Shopping Cart.
        Примеры запросов 
        <h3>Посмотреть всю продукцию: </h3>
        <h3>Добавить товар:</h3>
        <h3>Удалить товар:</h3>
        <h3>Найти товар по индексу:</h3>
        @Html.ActionLink("Links", "Products", "Show"); 

    </div>
</body>
</html>
