@*@model IEnumerator<ShoppingCart.Models.Domain.Products>*@

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <h1> Shopping Cart!!!</h1>
    <div> 
       
        Go to Show/Products  
        @Html.ActionLink("Links", "Products", "Show"); 

    </div>
</body>
</html>
