<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true">
 <targets>
    <target name="file"  xsi:type="File" fileName="bin/logwebapi.txt" layout="${longdate}|${logger}|${level}|${message}" />
  </targets>
  <rules>
    <logger name="*" minlevel="Debug" writeTo="file" final="false" enabled="true"/>
    <logger name="ShoppingCartWebApi.*" minlevel="Debug" writeTo="file" enabled="true"/>
  
    <!-- To show Sql queries in log change enabled on true-->
    <logger name="NHibernate.SQL" minlevel="Debug" writeTo="file" enabled="false"/>
 </rules>
</nlog>

